---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "MonaspaceArgonVar";
    src: url("/fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
  }

  @font-face {
    font-family: "MonaspaceKryptonVar";
    src: url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2")
      format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
  }

  @font-face {
    font-family: "MonaspaceNeonVar";
    src: url("/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
  }

  @font-face {
    font-family: "MonaspaceRadonVar";
    src: url("/fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
  }

  @font-face {
    font-family: "MonaspaceXenonVar";
    src: url("/fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  body {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 2rem);
    font-size: 1.2rem;
    font-family: MonaspaceArgonVar, sans-serif;
    font-variation-settings:
      "wght" 100,
      "wdth" 100,
      "slnt" 0; /* Set your default values here */
    color: #bcbcbc;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "MonaspaceNeonVar", sans-serif;
  }

  p {
    font-family: "MonaspaceArgonVar", sans-serif;
  }

  pre {
    font-family: "MonaspaceKryptonVar", monospace;
  }

  a {
    font-family: "MonaspaceNeonVar", sans-serif;
    /* Add more styles like text-decoration, color, etc. if needed */
  }

  blockquote {
    font-family: "MonaspaceXenonVar", sans-serif;
    /* Add more styles for blockquotes if desired */
  }
  code {
    font-family:
      MonaspaceKryptonVar,
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
