---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Progress from "../components/Progress.astro";
import Card from "../components/Card.astro";
import Factbox from "../components/Factbox.astro";
import image1 from "../assets/cardimage1.jpg";
import image2 from "../assets/cardimage2.jpg";
import image3 from "../assets/cardimage3.jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <section id="hero">
      <Hero />
    </section>
    <section id="skills">
      <div class="skill-grid">
        <Progress language={"TypeScript"} color={"blue"} progressValue={20} />
        <Progress
          language={"C#"}
          color={"rgb(100, 0, 200)"}
          progressValue={50}
        />
        <Progress language={"SQL"} color={"orange"} progressValue={60} />
        <Progress
          language={"HTML/CSS"}
          color={"rgb(151, 0, 30)"}
          progressValue={20}
        />
        <Progress
        language={"Docker"}
        color={"#2FB8C1"}
        progressValue={30}
      />
      <Progress
      language={"AstroJS"}
      color={"rgb(200, 0, 30)"}
      progressValue={50}
    />
      </div>
    </section>
    <section id="projects">
      <div class="card-container">
        <Card
          image={image1}
          alt="Projekt 1"
          title="Projekt 1"
          body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quos."
          gradientColor1="rgb(31,184,60)"
          gradientColor2="rgb(255,242,42)"
        />
        <Card
          image={image2}
          alt="Projekt 2"
          title="Projekt 2"
          body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quos."
          gradientColor1="rgb(200,100,250)"
          gradientColor2="rgb(180,180,180)"
        />
        <Card
          image={image3}
          alt="Projekt 3"
          title="Projekt 3"
          body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quos."
        />
      </div>
    </section>
    <section id="cat-facts">
      <Factbox />
    </section>
  </main>
</Layout>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 4rem;
  }
</style>
