---
import { Image } from "astro:assets";
import me from "../assets/me.webp";
---

<section class="hero">
  <div class="hero-text">
    <h1>Why?</h1>
    <div>
      <p>
        Wir, die LUTZ + GRUB ACADEMY GmbH, befähigen zum adaptiven und
        lebenslangen Lernen, um individuell und kollektiv erfolgreich handeln zu
        können.
      </p>
      <p>
        Durch innovative und Kontext angepasste Lernmethoden erreichen
        Organisationen und Lernende Kompetenzen, um ihre beruflichen Ziele zu
        erreichen.
      </p>
      <p>Adaptive Growing® - be competent!</p>
    </div>
  </div>
  <div class="hero-image">
    <Image src={me} alt="Ich, einfach unverbesserlich." id={"me-image"} />
  </div>
</section>

<style>
  section.hero {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
  }

  section.hero > div.hero-text {
    max-width: 50vw;
    margin: 0 4rem 0 auto;
    width: 50vw;
  }
  section.hero > div.hero-image {
    position: relative;
    height: 100%;
    width: 50vw;
  }
  .hero-text p {
    max-width: 45ch;
  }
  .hero-image > #me-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1.3rem;
  }
</style>
