---
import { Image } from "astro:assets";
import me from "../assets/me.webp";
---

<section class="hero">
    <div class="hero-text">
        <p class="greeting">Hi, ich bin</p>
        <h2>Tobias Wehrle</h2>
        <h3>
          Developer; Trainer; Gamer;
        </h3>
        <p>
          Leidenschaftlicher Beibringer von Wissen und Programmierer. In meiner Welt
          verschmelzen Technologie und Bildung zu einzigartigen Erlebnissen. Stets
          auf der Suche nach neuen Herausforderungen und Wegen, um Wissen
          spielerisch zu vermitteln.
        </p>
      </div>
    <div class="hero-image">
        <Image src={me} alt="Ich, einfach unverbesserlich." id={"me-image"}/>
    </div>
</section>
    
<style>
    section.hero {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row;
        height: 90vh;
        overflow-y: hidden;
    }
    section.hero > div.hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50vw;
        margin: 0 5vw 0 auto;
        position: relative;
        z-index: -2;
    }
    section.hero > div.hero-image {
        width: 40vw;
        position: relative;
        z-index: 10;
    }
    .hero-text > * {
        text-align: center;
    }
    .hero-text > :not(:last-child) {
        line-height: 100%;
    }
    .hero-text > p.greeting {
        font-size: 1.3em;
        color: rgb(255, 110, 195);
        margin: 0;
    }
    .hero-text > h2 {
        margin-top: .5rem;
        font-size: 3em;
        font-weight: 800;
        margin: .5rem 0 1.4rem 0;
    }
    .hero-text > h3 {
        color: rgb(200 140 255);
        font-size: 1.4em;
        font-weight: 600;
        margin-top: 1rem;
        margin: 0 0 1rem 0;
    }
    .hero-text p {
        max-width: 45ch;
        font-size: 1.1em;
    }
    .hero-image > #me-image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
    }
    @media only screen and (max-width: 900px) {
        section.hero {
            flex-direction: column;
            font-size: .9em;
            height: fit-content;
            align-items: center;
        }
        section.hero > div.hero-text {
            max-width: none;
            margin: 0 1rem;
            position: static;
        }
        section.hero > div.hero-image {
            max-width: 80%;
            min-width: 70%;
            position: static;
        }
        .hero-text p {
            width: 100%;
            max-width: none;
        }
    }
</style>
