---
interface Props {
  lang: string;
  progress: string;
  color: string;
}

const { lang, progress, color } = Astro.props;
---

<div class="progress">
  <h3 class="lang">{lang}</h3>
  <div class="ghost-progress">
    <div class="progress-bar" role="progressbar" style={`width: ${progress}%`}>
      <span class="sr-only">{progress}%</span>
    </div>
  </div>
</div>

<style define:vars={{ color }}>
  .progress {
    margin: 10px 0;
  }
  .progress h3.lang {
    margin-bottom: 10px;
    color: var(--color, #007bff);
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
  }
  .ghost-progress {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgba(193, 193, 193, 0.1);
  }
  .progress-bar {
    background-color: var(--color, #007bff);
    border-radius: 1rem;
    padding: 0.25em;
    box-shadow: 3px 1px 7px var(--color, #007bff);
  }
  .progress-bar span {
    color: #d3d3d3;
    text-shadow: 0 0 2px black;
    padding: 0 0.5em;
    font-size: 1.1em;
    font-family: MonaspaceKryptonVar;
    font-variation-settings:
      "wght" 300,
      "wdth" 125,
      "slnt" -2;
  }
</style>
