---

---

<div class="skill-flex">
    <h3>TypeScript</h3>
    <div class="ghost-progress">
        <div class="progress-bar">
            <span class="progress-percent">50%</span>
        </div>
    </div>
</div>

<style>
    .skill-flex {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    .skill-flex .ghost-progress {
        background-color: rgba(140, 140, 140, 0.2);
        border-radius: 1rem;
    }
    .skill-flex .progress-bar {
        background-color: rgb(255, 0, 251);
        border-radius: 1rem;
        width: 50%;
    }
    .skill-flex span.progress-percent {
        margin: 1rem;
    }
</style>