@font-face {
    font-family: "MonaspaceArgonVar";
    src: url("/fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
}

@font-face {
    font-family: "MonaspaceKryptonVar";
    src: url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
}

@font-face {
    font-family: "MonaspaceNeonVar";
    src: url("/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
}

@font-face {
    font-family: "MonaspaceRadonVar";
    src: url("/fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
}

@font-face {
    font-family: "MonaspaceXenonVar";
    src: url("/fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff2") format("woff2");
    font-weight: 100 125;
    font-stretch: 200% 800%;
    font-size: 10px 48px;
    font-style: oblique -11deg 0deg;
}